.links
    a.btn.btn-link(href="/") planesgame
    a.btn.btn-link(href="/mine") minesweeper

h1= title
p SVG option

div#field.field


script(src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js")
script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="/javascripts/main.js")
