div#content.content
    .links
        a.btn.btn-link(href="/") planesgame
        a.btn.btn-link(href="/mine") minesweeper

    h1  Minesweeper

    div#ctrls.ctrl-group
        a(href="#", title="Retry")#ctrl-retry.ctrl Retry
        a(href="#", title="New game")#ctrl-new.ctrl New Game
        a(href="#", title="Top scores")#ctrl-top.ctrl Top scores
    div#game.game
        canvas#field(width=310, height=310)
    div#status.status
        div#timer.status-item 0
        div.status-item
            div.flag
            span#flags.count 0

.modal.fade#newgame
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title New game
            .modal-body
                .col-md-6
                    p Choose difficulty
                    div#default_difficulty
                        .row
                            input(type="radio" id="diff_easy" name="difficulty" checked="checked" value="easy")
                            label(for="diff_easy") Easy
                        p.help-block.col-md-offset-1 9x9 and 9 mines
                        .row
                            input(type="radio" id="diff_normal" name="difficulty" value="normal")
                            label(for="diff_normal") Normal
                        p.help-block.col-md-offset-1 15x15 and 16 mines
                        .row
                            input(type="radio" id="diff_hard" name="difficulty" value="hard")
                            label(for="diff_hard") Hard
                        p.help-block.col-md-offset-1 15x30 and 90 mines
                .col-md-6
                    p ... or customize:
                .clearfix
            .modal-footer
                button.btn.btn-default(type="button" data-dismiss="modal") Cancel
                button#play_new_game.btn.btn-primary(type="button") Play

script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/javascripts/mine.js")