div#content.content
    .links
        a.btn.btn-link(href="/") planesgame
        a.btn.btn-link(href="/mine") minesweeper

    h1  Minesweeper

    div#ctrls.ctrl-group
        a(href="#", title="Retry")#ctrl-retry.ctrl Retry
        a(href="#", title="New game")#ctrl-new.ctrl New Game
        a(href="#", title="Top scores")#ctrl-top.ctrl Top scores
    div#game.game
        canvas#field(width=310, height=310)
    div#status.status
        div#timer.status-item 0
        div.status-item
            div.flag
            span#flags.count 0

.modal.fade.new-game-modal#newgame
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title New game
            .modal-body
                .col-md-5
                    div#default_difficulty
                        button.btn.btn-default.btn-big#diff_easy(data-diff="easy")
                            div.btn-text-big Easy
                            .help-block 9x9 and 9 mines
                        br
                        button.btn.btn-default.btn-big.margin-top-10#diff_normal(data-diff="normal")
                            div.btn-text-big Normal
                            .help-block 15x15 and 16 mines
                        br
                        button.btn.btn-default.btn-big.margin-top-10#diff_hard(data-diff="hard")
                            div.btn-text-big Hard
                            .help-block 15x30 and 90 mines
                .clearfix

.modal.fade#endgame
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type="button", data-dismiss="modal", aria-hidden="true")
                    span(aria-hidden="true") &times;
                    span.sr-only Close
                h4.modal-title End Game
            .modal-body
                p#win_msg.text-success.text-center Congratulations! You have discovered all the bombs in
                    span#finish_time
                    span  seconds.
                p#lose_msg.text-danger.text-center Booom!! You exploded.

script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
script(src="/bootstrap/dist/js/bootstrap.min.js")
script(src="/javascripts/mine.js")
