.status-item {
    display: inline-block;
    width: 150px;

}

.status {
    font-size: 18px;
    margin-left: 50px
}

.ctrl-group {
    margin: 15px 0;
}

.ctrl {
    display: inline-block;
    text-align: center;
    width: 100px;
}

.flag {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: url("/images/flag.gif") no-repeat;
    position: relative;
    top: 7px;
    text-align: right;
}
.count {
    margin-left: 5px;
}

.game, .status {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}